@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  } */
/* .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  top: 0;
  left: 0;
  
} */
.side {
  max-width: 149px;
  width: 100%;
  /* position: sticky; */
  min-height: 100%;
  top: 0;
  left: 100px;
  
}
.button {
  /* font: 1em Arial, sans-serif; */
  /* display: inline-block; */
  /* padding: 1em;margin: 1em; */
  border-radius: 5px;
  text-decoration: none;
  color: gray;
  
 
  background-image: linear-gradient(rgb(129,228,233),rgb(129,228,233)), linear-gradient(white, white);
  background-size: 0 100%, auto;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .5s ease-out;
}

.button:hover {
  color: white;
  background-size: 100% 100%, auto;
  
}
 .container1 {
  position: relative;  
  /* width:100%;
  max-width:100px; */
}


 
 .container1 button {
position: absolute;
/* top: 60%; */
right: -50px;
background-color: black;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
opacity:0;
bottom: 0%;
border-radius:  3px; 
font-size:small;
padding: 4px 2px;

} 
 .container1:hover button {   
opacity: 3;
}

.container2 {
  position: relative;  
  /* width:100%;
  max-width:100px; */
}


 
 .container2 button {
position: absolute;
/* top: 60%; */
right: 0px;
background-color: black;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
opacity:0;
bottom: 0%;
border-radius:  3px; 
font-size:small;
padding: 6px 4px;

} 
 .container2:hover button {   
opacity: 3;
}